<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ulplanet.trip.dao.ApkDao">

    <select id="findList" resultType="Apk">
        SELECT id,name,version,url,description,package_name as packageName,md5,size  FROM apk
        ORDER BY name
    </select>

    <select id="findByParam" resultType="Apk">
        SELECT id,name,version,url,description,package_name as packageName,md5,size  FROM apk
        <where>
            1 = 1
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="name!=null">
                AND name = #{name}
            </if>
        </where>
        ORDER BY create_date
    </select>




</mapper>