<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ulplanet.trip.dao.FlightDao">

	<resultMap id="Flight" type="com.ulplanet.trip.bean.Flight">
            <result property="id" column="id"/>
            <result property="flightNo" column="flight_no"/>
            <result property="company" column="company"/>
            <result property="departureTerminal" column="departure_terminal"/>
            <result property="arrivalTerminal" column="arrival_terminal"/>
            <result property="departureTime" column="departure_time"/>
            <result property="arrivalTime" column="arrival_time"/>
            <result property="departureCity" column="departure_city_name"/>
            <result property="arrivalCity" column="arrival_city_name"/>
            <result property="common" column="common"/>
	</resultMap>

    <resultMap id="InfoBo" type="com.ulplanet.trip.bean.InfoBo">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="BaseColumns">
            flight.id,flight.flight_no,flight.company
            ,flight.departure_terminal,flight.arrival_terminal,flight.departure_time,
            flight.arrival_time,flight.departure_city,flight.arrival_city,flight.common
	</sql>



    <select id="get" resultMap="Flight">
		SELECT <include refid="BaseColumns" />,
          dc.name as departure_city_name,
          ac.name as arrival_city_name
		    FROM flight
          LEFT JOIN city dc
            ON flight.departure_city = dc.id
          LEFT JOIN city ac
            ON flight.arrival_city = ac.id
	        WHERE
        flight.id = #{id}
	</select>
	

		

    <select id="findList" resultMap="Flight">
    	SELECT <include refid="BaseColumns" />,
        dc.name as departure_city_name,
        ac.name as arrival_city_name
	    FROM flight
        LEFT JOIN city dc
        ON flight.departure_city = dc.id
        LEFT JOIN city ac
        ON flight.arrival_city = ac.id
        LEFT JOIN sys_user sc
        ON flight.create_by = sc.id
        LEFT JOIN sys_user su
        ON flight.update_by = su.id

		<where>
          <if test="id!=null and id!=''">
              AND flight.id = #{id}
          </if>
          <if test="createBy!=null and createBy.name!=null and createBy.name!=''">
              AND createName like concat('%',#{CreateBy.name},'%')
          </if>
          <if test="updateBy!=null and updateBy.name!=null and updateBy.name!=''">
              AND updateName like concat('%',#{updateBy.name},'%')
          </if>
          <if test="flightNo!=null and flightNo!=''">
              AND flight_no = #{flightNo}
          </if>
          <if test="departureCity!=null and departureCity!=''">
              AND departure_city = #{departureCity.id}
          </if>
          <if test="arrivalCity!=null and arrivalCity!=''">
              AND arrival_city = #{arrivalCity.id}
          </if>
        </where>
    </select>


	
</mapper>

