<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ulplanet.trip.dao.JourneyPlanDao">

	<resultMap id="JourneyPlan" type="com.ulplanet.trip.bean.JourneyPlan">
            <result property="id" column="id"/>
            <result property="dayId" column="day_id"/>
            <result property="infoId" column="info_id"/>
            <result property="type" column="type"/>
            <result property="name" column="name"/>
            <result property="time" column="time"/>
            <result property="timeFlag" column="time_flag"/>
            <result property="description" column="description"/>
            <result property="message" column="message"/>
            <result property="messageFlag" column="message_flag"/>
            <result property="sort" column="sort"/>
            <result property="createBy" column="create_by"/>
            <result property="createDate" column="create_date"/>
            <result property="updateBy" column="update_by"/>
            <result property="updateDate" column="update_date"/>
            <result property="remark" column="remark"/>
            <result property="longitude" column="longitude"/>
            <result property="latitude" column="latitude"/>
            <result property="feedbackFlag" column="feedbackFlag"/>
	</resultMap>

    <resultMap id="JourneyPlans" type="com.ulplanet.trip.bean.JourneyPlans">
        <result property="dayNumber" column="dayNumber"/>
        <result property="dayTitle" column="dayTitle"/>
        <result property="infoId" column="info_id"/>
        <result property="type" column="type"/>
        <result property="name" column="name"/>
        <result property="hasTime" column="hasTime"/>
        <result property="time" column="time"/>
        <result property="description" column="description"/>
        <result property="hasMessage" column="hasMessage"/>
        <result property="message" column="message"/>
        <result property="sort" column="sort"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="score" column="score"/>
        <result property="feedbackFlag" column="feedbackFlag"/>
    </resultMap>

    <resultMap id="InfoBo" type="com.ulplanet.trip.bean.InfoBo">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="queryAllPlanByGroup" resultMap="JourneyPlans">
        select jd.day_number as dayNumber,jd.title as dayTitle,jp.info_id as info_id,
                jp.type as type,jp.name as name,jp.time_flag as hasTime,
                jp.time as time,jp.description as description,jp.message_flag as hasMessage,
                jp.message as message,jp.sort as sort,jp.longitude as longitude,jp.latitude as latitude,
                e.score as score,jp.id as planId,jp.feedback_flag as feedbackFlag
        from  journey_day jd
              INNER JOIN journey_plan jp on jp.day_id = jd.id
              LEFT JOIN evaluate e on e.plan_id = jp.id and e.user_code = #{code}
        where jd.group_id = #{group}
        ORDER BY jd.day_number ASC ,jp.sort ASC
    </select>

	<sql id="BaseColumns">
	    <![CDATA[
            id,day_id,info_id,type,name,time,time_flag,description,message,message_flag,sort,create_by,create_date,update_by,update_date,remark,,longitude,latitude
	    ]]>
	</sql>

<sql id="BaseWhere">
    <where>
                <if test="id != null and id != ''">
                    AND id = #{id}
                </if>
                <if test="dayId != null and dayId != ''">
                    AND day_id = #{dayId}
                </if>
                <if test="dayId != null and dayId != ''">
                    AND info_id = #{infoId}
                </if>
                <if test="type != null and type != ''">
                    AND type = #{type}
                </if>
                <if test="name != null and name != ''">
                    AND name = #{name}
                </if>
                <if test="time != null and time != ''">
                    AND time = #{time}
                </if>
                <if test="timeFlag != null and timeFlag != ''">
                    AND time_flag = #{timeFlag}
                </if>
                <if test="description != null and description != ''">
                    AND description = #{description}
                </if>
                <if test="message != null and message != ''">
                    AND message = #{message}
                </if>
                <if test="messageFlag != null and messageFlag != ''">
                    AND message_flag = #{messageFlag}
                </if>
                <if test="sort != null and sort != ''">
                    AND sort = #{sort}
                </if>
                <if test="createBy != null and createBy != ''">
                    AND create_by = #{createBy}
                </if>
                <if test="createDate != null and createDate != ''">
                    AND create_date = #{createDate}
                </if>
                <if test="updateBy != null and updateBy != ''">
                    AND update_by = #{updateBy}
                </if>
                <if test="updateDate != null and updateDate != ''">
                    AND update_date = #{updateDate}
                </if>
                <if test="remark != null and remark != ''">
                    AND remark = #{remark}
                </if>
    </where>

 </sql>


	<insert id="insert">
            <![CDATA[
                INSERT INTO journey_plan (
                    id ,
                    day_id ,
                    info_id,
                    type ,
                    name ,
                    time ,
                    time_flag ,
                    description ,
                    message ,
                    message_flag ,
                    sort ,
                    longitude,
                    latitude,
                    create_by ,
                    create_date ,
                    update_by ,
                    update_date ,
                    remark 
                ) VALUES (
                    #{id} ,
                    #{dayId} ,
                    #{infoId} ,
                    #{type} ,
                    #{name} ,
                    #{time} ,
                    #{timeFlag} ,
                    #{description} ,
                    #{message} ,
                    #{messageFlag} ,
                    #{sort} ,
                    #{longitude} ,
                    #{latitude} ,
                    #{createBy} ,
                    #{createDate} ,
                    #{updateBy} ,
                    #{updateDate} ,
                    #{remark} 
                )
            ]]>

	</insert>
    
	<update id="update" >
        UPDATE journey_plan
         <set>
                 <if test="dayId != null">
                      day_id = #{dayId},
                  </if>
                 <if test="infoId != null">
                     info_id = #{infoId},
                 </if>
                 <if test="type != null">
                      type = #{type},
                  </if>
                 <if test="name != null">
                      name = #{name},
                  </if>
                 <if test="time != null">
                      time = #{time},
                  </if>
                 <if test="timeFlag != null">
                      time_flag = #{timeFlag},
                  </if>
                 <if test="description != null">
                      description = #{description},
                  </if>
                 <if test="message != null">
                      message = #{message},
                  </if>
                 <if test="messageFlag != null">
                      message_flag = #{messageFlag},
                  </if>
                 <if test="sort != null">
                      sort = #{sort},
                  </if>
                 <if test="longitude != null">
                     longitude = #{longitude},
                 </if>
                 <if test="latitude != null">
                     latitude = #{latitude},
                 </if>
                 <if test="createBy != null">
                      create_by = #{createBy},
                  </if>
                 <if test="createDate != null">
                      create_date = #{createDate},
                  </if>
                 <if test="updateBy != null">
                      update_by = #{updateBy},
                  </if>
                 <if test="updateDate != null">
                      update_date = #{updateDate},
                  </if>
                 <if test="remark != null">
                      remark = #{remark}
                  </if>
        </set>
        	WHERE id = #{id}
	</update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM journey_plan WHERE
            id = #{id} 
        ]]>
    </delete>
    
    <select id="getById" resultMap="JourneyPlan">
		SELECT <include refid="BaseColumns" />
	    <![CDATA[
		    FROM journey_plan 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	

    <select id="findInfoByTableName" resultMap="InfoBo">
        SELECT id,name,address,city,${tableCol},longitude,latitude,description FROM ${table}
        <where>
            <if test="ids!=null">
                AND city IN
                <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="infoId!=null">
                AND id = #{infoId}
            </if>
        </where>
    </select>

	
</mapper>

