<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.ulplanet.trip.dao.PhoneInfoDao">

    <resultMap id="PhoneInfo" type="com.ulplanet.trip.bean.PhoneInfo">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="status" column="status"/>
        <result property="leaseholder" column="leaseholder"/>
        <result property="stockOrderId" column="stock_order_id"/>
        <result property="comment" column="comment"/>
        <result property="updateDate" column="update_date"/>
        <result property="createDate" column="create_date"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="BaseColumns">
        <![CDATA[
            id,code,status,leaseholder,stock_order_id,comment,remarks
	    ]]>
    </sql>

    <sql id="BaseWhere">
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="code != null and code != ''">
                AND code = #{code}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="leaseholder != null and leaseholder != ''">
                AND leaseholder = #{leaseholder}
            </if>
            <if test="stockOrderId != null and stockOrderId != ''">
                AND stock_order_id = #{stockOrderId}
            </if>
            <if test="comment != null and comment != ''">
                AND comment = #{comment}
            </if>
            <if test="updateDate != null and updateDate != ''">
                AND update_date = #{updateDate}
            </if>
            <if test="createDate != null and createDate != ''">
                AND create_date = #{createDate}
            </if>
            <if test="updateBy != null and updateBy != ''">
                AND update_by = #{updateBy}
            </if>
            <if test="remarks != null and remarks != ''">
                AND remarks = #{remarks}
            </if>
        </where>

    </sql>

    <sql id="UpdateWhere">
        <where>
            <if test="code != null and code != ''">
                AND code = #{code},
            </if>
            <if test="status != null and status != ''">
                AND status = #{status},
            </if>
            <if test="leaseholder != null and leaseholder != ''">
                AND leaseholder = #{leaseholder},
            </if>
            <if test="stockOrderId != null and stockOrderId != ''">
                AND stock_order_id = #{stockOrderId},
            </if>
            <if test="comment != null and comment != ''">
                AND comment = #{comment},
            </if>
            <if test="updateDate != null and updateDate != ''">
                AND update_date = #{updateDate},
            </if>
            <if test="createDate != null and createDate != ''">
                AND create_date = #{createDate},
            </if>
            <if test="updateBy != null and updateBy != ''">
                AND update_by = #{updateBy},
            </if>
            <if test="remarks != null and remarks != ''">
                AND remarks = #{remarks}
            </if>
        </where>

    </sql>



    <insert id="insert">
        INSERT INTO phone_info (
        <trim suffix="" suffixOverrides=",">
            id,
            <if test="code!=null and code!=''">
                code ,
            </if>
            <if test="status!=null and status!=''">
                status ,
            </if>
            <if test="leaseholder!=null and leaseholder!=''">
                leaseholder ,
            </if>
            <if test="stockOrderId!=null and stockOrderId!=''">
                stock_order_id ,
            </if>
            <if test="comment!=null and comment!=''">
                comment ,
            </if>
            update_date ,
            create_date ,
            <if test="createBy!=null and createBy!=''">
                create_by ,
            </if>
            <if test="updateBy!=null and updateBy!=''">
                update_by ,
            </if>
            remarks ,
        </trim>
        ) VALUES (
        <trim suffix="" suffixOverrides=",">
            #{id},
            <if test="code!=null and code!=''">
                #{code} ,
            </if>
            <if test="status!=null and status!=''">
                #{status} ,
            </if>
            <if test="leaseholder!=null and leaseholder!=''">
                #{leaseholder} ,
            </if>
            <if test="stockOrderId!=null and stockOrderId!=''">
                #{stockOrderId} ,
            </if>
            <if test="comment!=null and comment!=''">
                #{provider} ,
            </if>
            #{updateDate} ,
            #{createDate} ,
            <if test="createBy!=null and createBy!=''">
                #{createBy} ,
            </if>
            <if test="updateBy!=null and updateBy!=''">
                #{updateBy} ,
            </if>
            #{remarks} ,
        </trim>
        )

    </insert>

    <update id="update" >
        UPDATE phone_info
        <set>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="remarks != null">
                remarks = #{remarks}
            </if>
        </set>
        where code = #{code}
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM phone_info WHERE
            id = #{id}
        ]]>
    </delete>

    <select id="getById" resultMap="PhoneInfo">
        SELECT <include refid="BaseColumns" />
        <![CDATA[
		    FROM phone_info
	        WHERE
		        id = #{id}
	    ]]>
    </select>

    <select id="queryDeliverPhone" resultType="java.lang.Integer">
        SELECT count(id)
        <![CDATA[
		    FROM phone_info
	        WHERE
		        stock_order_id = #{stockOrderId}
		        and status != 9999
	    ]]>
    </select>



    <select id="findPageCount" resultType="long">
        SELECT count(1) FROM phone_info
        <include refid="BaseWhere"/>
    </select>

    <select id="findListByParams" resultMap="PhoneInfo">
        SELECT <include refid="BaseColumns" />
        FROM phone_info
        <include refid="BaseWhere"/>
    </select>

    <select id="findList" resultMap="PhoneInfo">
        SELECT <include refid="BaseColumns" />
        FROM phone_info
        where status != 0
    </select>


</mapper>

