<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ulplanet.trip.dao.UserDao">
    <select id="findUsers" resultType="java.util.Map">
        SELECT
        group_user.id,
        user.id AS userId,
        user.name,
        user.weChat,
        user.qq,
        user.birth,
        user.issue_date,
        user.expiry_date,
        user.birth_place,
        user.issue_place,
        user.gender,
        user.identity_card,
        user.passport,
        user.phone,
        group_user.cphone,
        user.email,
        user.photo,
        group_user.position_flag,
        group_user.cphone,
        group_user.type,
        group_user.code
        FROM
            user
            JOIN group_user ON user.id = group_user.user
        WHERE
            group_user.group = #{groupid}
    </select>

    <select id="queryUser" resultType="com.ulplanet.trip.bean.User">
        SELECT
            group_user.id,
            user.id AS userId,
            user.name,
            user.weChat,
            user.qq,
            user.birth,
            user.issue_date,
            user.expiry_date,
            user.birth_place,
            user.issue_place,
            user.gender,
            user.identity_card,
            user.passport,
            user.phone,
            group_user.cphone,
            user.email,
            user.photo,
            group_user.position_flag,
            group_user.cphone,
            group_user.`group`,
            group_user.code,
            group_user.type,
            group_user.im_token,
            `group`.tel_function,
            `group`.chat_id,
            `group`.to_date AS 'endDate',
            qc.client_number,
            qc.client_pwd
        FROM
            user
            JOIN group_user ON user.id = group_user.`user`
            JOIN `group` ON group_user.`group` = `group`.id
            LEFT JOIN qingma_client qc on qc.id = user.id
        WHERE
            group_user.code = #{code}
    </select>

    <select id="findUserByParam" resultType="User">
        SELECT
        user.id as userId,
        user.name,
        user.weChat,
        user.qq,
        user.birth,
        user.issue_date,
        user.expiry_date,
        user.birth_place,
        user.issue_place,
        user.gender,
        user.identity_card,
        group_user.cphone,
        user.passport,
        user.phone,
        user.email,
        user.photo,
        group_user.position_flag,
        group_user.`group`,
        group_user.code,
        group_user.type,
        group_user.im_token,
        `group`.chat_id
        FROM
        user
        JOIN group_user ON user.id = group_user.`user`
        JOIN `group` ON group_user.`group` = `group`.id
        <where>
            1 = 1
            <if test="group!=null and group!=''">
                AND group_user.`group` = #{group}
            </if>
            <if test="id!=null and id!=''">
                AND user.id = #{id}
            </if>
            <if test="code!=null and code!=''">
                AND code = #{code}
            </if>
            <if test="type!=null and type!=''">
                AND group_user.type = #{type}
            </if>

        </where>
    </select>



    <update id="updateGroupUser">
        UPDATE group_user
        <set>
            code = #{code},
            <if test="positionFlag!=null">
                position_flag = #{positionFlag},
            </if>
            <if test="cphone!=null">
                cphone = #{cphone},
            </if>
        </set>
        WHERE code = #{code}
    </update>


    <update id="update">
        UPDATE user
        <set>
            id = #{userId},
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="weChat!=null">
                weChat = #{weChat},
            </if>
            <if test="qq!=null">
                qq = #{qq},
            </if>
            <if test="birth!=null">
                birth = #{birth},
            </if>
            <if test="gender!=null">
                gender = #{gender},
            </if>
            <if test="photo!=null">
                photo = #{photo},
            </if>
            <if test="email!=null">
                email = #{email},
            </if>
            <if test="identityCard!=null">
                identity_card = #{identityCard},
            </if>
        </set>
        WHERE id = #{userId}
    </update>

    <update id="updateCPhone">
        UPDATE group_user
        <set>
            cphone = #{cphone}
        </set>
        WHERE id = #{id}
    </update>

    <select id="findJourneyCountry" resultType="java.util.Map">
        SELECT
            country. NAME AS country,
            city. NAME AS city
        FROM
            journey_day
            JOIN city ON SUBSTRING_INDEX(city_ids,',',1) = city.id
            JOIN country ON city.country = country.id
        WHERE
            group_id = #{groupid}
            AND day_number = 1
    </select>
</mapper>