<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.ulplanet.trip.dao.UserJourneyDao">

	<resultMap id="UserJourney" type="com.ulplanet.trip.bean.UserJourney">
            <result property="id" column="id"/>
            <result property="userCode" column="user_code"/>
            <result property="active" column="active"/>
            <result property="journeyId" column="journey_id"/>
            <result property="createBy" column="create_by"/>
            <result property="createDate" column="create_date"/>
            <result property="updateBy" column="update_by"/>
            <result property="updateDate" column="update_date"/>
            <result property="remark" column="remark"/>
	</resultMap>
	
	<sql id="BaseColumns">
	    <![CDATA[
            id,user_code,active,journey_id,create_by,create_date,update_by,update_date,remark
	    ]]>
	</sql>

<sql id="BaseWhere">
    <where>
                <if test="id != null and id != ''">
                    AND id = #{id}
                </if>
                <if test="userCode != null and userCode != ''">
                    AND user_code = #{userCode}
                </if>
                <if test="active != null and active != ''">
                    AND active = #{active}
                </if>
                <if test="journeyId != null and journeyId != ''">
                    AND journey_id = #{journeyId}
                </if>
                <if test="createBy != null and createBy != ''">
                    AND create_by = #{createBy}
                </if>
                <if test="createDate != null and createDate != ''">
                    AND create_date = #{createDate}
                </if>
                <if test="updateBy != null and updateBy != ''">
                    AND update_by = #{updateBy}
                </if>
                <if test="updateDate != null and updateDate != ''">
                    AND update_date = #{updateDate}
                </if>
                <if test="remark != null and remark != ''">
                    AND remark = #{remark}
                </if>
    </where>

 </sql>

<sql id="UpdateWhere">
    <where>
                <if test="userCode != null and userCode != ''">
                    AND user_code = #{userCode},
                </if>
                <if test="active != null and active != ''">
                    AND active = #{active},
                </if>
                <if test="journeyId != null and journeyId != ''">
                    AND journey_id = #{journeyId},
                </if>
                <if test="createBy != null and createBy != ''">
                    AND create_by = #{createBy},
                </if>
                <if test="createDate != null and createDate != ''">
                    AND create_date = #{createDate},
                </if>
                <if test="updateBy != null and updateBy != ''">
                    AND update_by = #{updateBy},
                </if>
                <if test="updateDate != null and updateDate != ''">
                    AND update_date = #{updateDate},
                </if>
                <if test="remark != null and remark != ''">
                    AND remark = #{remark}
                </if>
        </where>

    </sql>

	<insert id="insert">
            <![CDATA[
                INSERT INTO user_journey (
                    id ,
                    user_code ,
                    active ,
                    journey_id ,
                    create_by ,
                    create_date ,
                    update_by ,
                    update_date ,
                    remark 
                ) VALUES (
                    #{id} ,
                    #{userCode} ,
                    #{active} ,
                    #{journeyId} ,
                    #{createBy} ,
                    #{createDate} ,
                    #{updateBy} ,
                    #{updateDate} ,
                    #{remark} 
                )
            ]]>

	</insert>
    
	<update id="update" >
        UPDATE user_journey
         <set>
                 <if test="userCode != null">
                      user_code = #{userCode},
                  </if>
                 <if test="active != null">
                      active = #{active},
                  </if>
                 <if test="journeyId != null">
                      journey_id = #{journeyId},
                  </if>
                 <if test="createBy != null">
                      create_by = #{createBy},
                  </if>
                 <if test="createDate != null">
                      create_date = #{createDate},
                  </if>
                 <if test="updateBy != null">
                      update_by = #{updateBy},
                  </if>
                 <if test="updateDate != null">
                      update_date = #{updateDate},
                  </if>
                 <if test="remark != null">
                      remark = #{remark}
                  </if>
        </set>
        	<include  refid="UpdateWhere" />
	</update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM user_journey WHERE
            id = #{id} 
        ]]>
    </delete>
    
    <select id="getById" resultMap="UserJourney">
		SELECT <include refid="BaseColumns" />
	    <![CDATA[
		    FROM user_journey 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	

		
    <select id="findPageCount" resultType="long">
        SELECT count(1) FROM user_journey
		<include refid="BaseWhere"/>
    </select>

    <select id="findByParams" resultMap="UserJourney">
    	SELECT uj.journey_id
	    FROM user_journey uj
        LEFT JOIN journey j on uj.journey_id = j.id
        <where>
            1 = 1
            <if test="userCode != null and userCode != ''">
                AND uj.user_code = #{userCode}
            </if>
                AND uj.active = 1 AND TO_DAYS(j.end_date) &gt;= TO_DAYS(now())

        </where>
    </select>

	
</mapper>

